* {
    box-sizing: border-box;
}

html,
body {
    background-color: rgba(47, 92, 143, 0.303);
    overflow-x: hidden;
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:clamp(16px, 1.5vw, 20px)
    
   
}

h1 {
    font-size: clamp(1.6rem, 6vw, 3.5rem);
   width: 100%;
    color: white;
    text-align: center;
    margin: 40px auto;
   padding-top: 70px;
   
}

h2 {
    font-size: clamp(20px, 3.5vw, 36px);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    font-size: clamp(20px, 3.5vw, 30px);
    margin-top: 20px;
    margin-bottom: 20px;
}

h4 {
   
    margin: 20px;
    color: white;
}

p,
ol,
ul {
   
    line-height: 1.6;
    
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
    margin: 20px;
   

}

hr {
    width: 100%;
   
}

.btn{
    width: clamp(190px, 30vw, 270px);
    height: clamp(50px, 10vw, 60px);
    border-radius: 50px;
    border: 2px solid white;
    font-size: clamp(15px,1.5vw,18px);
   
}

.buttonContainer {
    display: flex !important;
    justify-self: center !important;
   
    margin-bottom: 35px;
}




.buttonContainer a{
    display: flex;
    justify-content: center;
    align-items: center;
}


.callBackStickyButton {
    position: fixed;
    width: clamp(70px, 10vw, 90px);
    height: clamp(70px, 10vw, 90px);
    z-index: 100;
    right: 20px;
    left: auto;
    bottom: 30px;
    background-color: rgb(38, 112, 196);
    border-radius: 50%;
    padding: 10px;
    border: 2px solid black;
}

.callBackStickyButton:hover{
background-color: rgba(31, 58, 189, 0.909);
margin-bottom: 2px;

}

.callBackStickyButton svg {
    color: white;
    margin: 5px;
}

.headerSection {
    position: relative;
    display: grid;
    overflow-y: hidden;
   
}

.headerSection::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(14, 13, 13, 0.305);
    width: 100%;
    height: 100%;
}

.heroImageContainer img {
    position: relative;
    margin-top: 70px;
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    width: 70%;
    overflow-y: hidden;
 
}



.hero-content p {
    color: white;
    text-align: center;
    margin: 40px auto;
    width: 90%;
   
}

.hero-text {
    text-align: center;
    font-weight: bolder;
    color: white;
    
}

.hero-items {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px;
    
}




.whatIOfferSection {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
   
}

.whatIOfferCard{border: 2px solid rgba(47, 92, 143, 0.595);;border-radius: 10px;background-color: rgba(128, 128, 128, 0.105);}


.whatIOfferContainer h2 {
    position: relative;
    text-align: center;
    font-weight: bolder;
    color: white;
    padding-top: 30px;
}

.whatIOffer p {
    padding: 10px;
    margin: 10px auto;
    color: white;
    width: 90%;
}

.whatIOfferSection ul {
    padding: 20px;
    list-style: none;
   
}

.whatIOfferSection img {
    padding-right: 10px;
    width: clamp(40px, 5vw, 60px);
}

.whatIOfferCard .btn {
    border: 3px solid black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin: 0 auto;
    margin-bottom: 20px;
}

 .whatIOfferCard ul{ 
    line-height: 40px;
}  

.reviewsSection {
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviewsSection .carousel-item {
    background-color: rgba(236, 240, 243, 0.931);
    border-radius: 50px;
    pointer-events: panX;
    max-width: 400px;
    padding: 20px;
    height: 380px;
}

.reviews {
    padding-top: 40px;
}

.carousel-item .stars {
    font-size: 22px;
}

.carousel-item p {
    font-size: clamp(15px, 1.5vw, 17px);
}

.carousel-control-next,
.carousel-control-prev {
    height: 100%;
    border-radius: 50%;
}

.carousel {
    margin: 10px;
}

.ourWorkContainer{
    padding: 20px;
display: grid;
grid-template-columns: 1fr; 
justify-items: center;
}

.whiteLine {
    background-color: white;
    padding: 10px;
}

footer {
    background-color: white;
    color: black;
    padding-bottom: 20px;
     font-family: "Libre Baskerville", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

footer .label {
    color: rgba(47, 92, 143, 0.595);
    margin-bottom: -20px;
}

footer h3,
footer p {
    margin: 20px;
    width: 95%;
    text-align: left;
   
}

footer h3 {
    padding-top: 20px;
}

footer a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
   
}

footer img {
    margin-left: 3px;
}

.footer-bottom {
    max-width: 1100px;
   
    
}

.footer-bottom p {
    font-size: clamp(10px, 2vw, 13px);
    color: black;
    margin: 0;
    width: auto;
}

.footer-bottom a {
    display: inline;
    color: black;
    margin-left: 12px;
    font-size: inherit;
}

.footer-bottom a:hover {
    color:blue;
}

@media (min-width: 768px) {
    .hero-content {
        padding-bottom: 10%;
    }



h1 {
    
   padding-top: 150px;
   
}



    .OurWorkSection {
        margin-bottom: -10px;
    }


    .carousel-control-next,
    .carousel-control-prev {
        width: 50%;
    }

    .buttonContainer {
        margin-top: 40px;
    }

    .whatIOfferSection img {
        margin-left: 50px;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px;
        
    }
}

@media (min-width: 1024px) {



}


@media (min-width: 1200px) {
    .hero-content {
        padding-bottom: 30%;
        width: 90%;
    }



.ourWorkContainer{
     width: 1300px;
  
   display: grid;grid-template-columns: 1fr 1fr 1fr;
   gap:30px;
   justify-self: center;
  
}

    .btn {
        margin-block: 20px;
    }

    .hero-content h1 {
        margin-top: 40%;
    }
}



