
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

nav img {
  width: 100%;
  max-width: 200px;
  height: auto;
  display: inline;
  object-fit: cover;
  
 

 
}



nav .phone{margin: 0 auto;margin-top: 20px;text-decoration: none;cursor: pointer;color: black;font-weight: bold;}

nav .phone:hover {
  text-decoration: underline;
 
}


.navContainer {
  width: 100%;
}


.navBar {
  display: flex;
  width: 100%;
  background-color: white;
  height: 70px;
  transition: all 1.2s;
  border-bottom: 1px solid white;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  border-bottom:2px solid rgba(102, 140, 216, 0.766);
}


.navBar ul {
  display: none;

  list-style: none;
 
}

.logoContainer{
  position: absolute !important;
  top: -110px !important;
}

.Active img{



position: absolute;
top: 0;
left: 0px;
}

.Active {
  height: 100vh;
  
}

.Active ul {
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-weight: bolder;
  list-style: none;
}

.Active ul li {
  font-weight: bolder;
  
  line-height: 60px;
 
}

.Active ul li a:hover {
  color: blue;
}


.navBar ul li a {
  text-decoration: none;
  padding: 20px;
  color: black;
  display: block;
 font-size: 28px !important;

}


@media (max-width: 1199px) {
  .navBar ul li a {
    opacity: 0;
    transform: translateY(-20px);
  }
}


.Active ul li:nth-child(1) a {
  animation: slideIn 0.5s forwards;
}

.Active ul li:nth-child(2) a {
  animation: slideIn 0.5s 0.2s forwards;
}

.Active ul li:nth-child(3) a {
  animation: slideIn 0.5s 0.4s forwards;
}

.Active ul li:nth-child(4) a {
  animation: slideIn 0.5s 0.6s forwards;
}

.Active ul li:nth-child(5) a {
  animation: slideIn 0.5s 0.8s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.Navbtn {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px; 
  transform: none;  
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
 

}


.line1 {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s;

}

.line2 {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s;
}

.line3 {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  transition: all 0.3s;
}


.Active .line2 {
  opacity: 0;
  transition: all 1.2s;
}

.Active .line1 {
  transform: rotate(45deg);
  position: relative;
  top: 8px;  
  transition: all 1.2s;
  width: 20px;
}

.Active .line3 {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;  
  transition: all 1.2s;
  width: 20px;
}


@media (min-width: 1200px) {
  
  
  .navBar ul {
    display: flex !important;
    flex-direction: row;
    position: static;
    transform: none;
    margin: 0;
    padding: 0;
    align-items: center;
    height: 100%;
    margin-left: 32%;
  }

  .navBar ul li {
    margin: 0;
  }

  .navBar ul li a {
    opacity: 1 !important;
    transform: none !important;
    margin-left: 30px;
    padding: 20px;
    color:black;
    text-decoration: none;
    animation: none !important;
    

  }

  .navBar ul li a:hover {
    color: blue;
  }

  
  .Navbtn {
    display: none;
  }

  
  .Active {
    height: 70px;
  }

  .Active ul {
    position: static;
    transform: none;
    display: flex !important;
    text-align: left;
  }

  .Active ul li {
    margin-top: 0;
    line-height: normal;
  }

  
  .navBar {
    justify-content: flex-start;
  }

  .Active ul li a {
    font-size: (14px, 1.4vw, 17px)
  }
}
